@inject HttpClient httpClient

@* Author: Allan *@
@* Additional css fixes/changes by Chris *@
<style>
    .image-container {
        aspect-ratio: 5 / 3;
    }
</style>


<div class="card mb-3 w-75">
    <div class="row g-0">
        <div class="col-md-4">
            @if (Property.Images?.Any() == true)
            {
                <div class="image-container w-100 h-100 overflow-hidden position-relative">
                    <img class="object-fit-cover img-fluid rounded-start d-block w-100 h-100" src="@($"{httpClient.BaseAddress}{Property.Images.First().PropertyImageUrl}")"
                         alt="Property image">
                </div>
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title mb-1 text-primary">@Property.PropertyAddress, @Property.MunicipalityName</h5>
                <p class="card-text mb-1"><strong>Pris:</strong> @Property.Price.ToString() kr</p>
                <p class="card-text"><strong>Kategori: </strong>@GetPropertyCategoryDisplayName(Property.Category)</p>
                <a href="" class="btn btn-primary mt-2">Mer information</a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PartialMarketPropertyDTO Property { get; set; }

    // Allan
    private string GetPropertyCategoryDisplayName(PropertyCategory category)
    {
        return category switch
        {
            PropertyCategory.Villa => "Villa",
            PropertyCategory.CondominiumApartment => "Lägenhet",
            PropertyCategory.CondominiumTownhouse => "Radhus",
            PropertyCategory.VacationHome => "Fritidshus",
            _ => category.ToString()
        };
    }
}
